* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
}